@model Prontuario

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<br />
<br />

<form asp-action="Alterar" asp-controller="Prontuario" method="post">
    <fieldset>
        <legend>Alterar Prontuário</legend>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Id">Id:</label>
            <input asp-for="Id" type="text" placeholder="Id do prontuário" readonly class="form-control" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FuncionarioId">Matrícula:</label>
                <select asp-items="@ViewBag.listaMatriculas" asp-for="FuncionarioId" disabled class="form-control"></select>
                <input hidden asp-for="FuncionarioId" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CaixaId">Custódia:</label>
                <select asp-items="@ViewBag.listaCustodias" asp-for="CaixaId" class="form-control"></select>
            </div>
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </fieldset>
</form>
<br />
<br />
