@model Caixa

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<br />
<br />

<form asp-action="Alterar" asp-controller="Caixa" method="post">
    <fieldset>
        <legend>Alterar Caixa</legend>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Id">Id:</label>
            <input asp-for="Id" type="text" placeholder="Id da caixa" readonly class="form-control" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="NumeroCaixa">Número da Caixa:</label>
                <input asp-for="NumeroCaixa" type="text" placeholder="Insira o número da caixa" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Custodia">Posição da Custódia:</label>
                <input asp-for="Custodia" type="text" placeholder="Insira a posição da custódia" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </fieldset>
</form>
<br />
<br />
